<ul>
<li>ID:{{id}}</li>
<li>Username:{{username}}</li>
<li>First Name:{{firstName}}</li>
<li>Last Name:{{lastName}}</li>
<li>profession:{{profession}}</li>
<li>bio:{{bio}}</li>
</ul> 
<a href="/logout">logout</a>
